html, body {
    height: 100%;
    /*background-color: #FFF056;*/
    background-color: #b0c4de;
    font-family: 'Raleway', 'Arial', sans-serif;
}
.right {
    float: right;
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 3em;
    font-weight: 200;
    border: 0;
}

.left {
    background-color: #DFE2DB;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 0 2em 0;
    padding: 1em;
    font-weight: 200;
    border: 0;
}

.countdown-container {
    position: relative;
    top: 10%;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    transform: translateY(-40%);

}

.clock-item .inner {
    height: 0px;
    padding-bottom: 40%;
    position: relative; 
    width: 100%;
}

.clock-canvas {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: 1px;
    padding-bottom: 100%;
}

.text {
    color: #fff;    
    font-size: 20px;
    font-weight: bold;  
    margin-top: -10px;
    position: absolute;
    top: 55%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    width: 100%;
}

.text .val {
    font-size: 27px;
}

.text .type-time {
    font-size: 11px;
}

.list-text{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-right: 20px;
    width: 100%;
}

@media (min-width: 125px) and (max-width: 230) {
    .clock-item {
        margin-bottom: 10px;        
    }
}

@media (max-width: 125px) {
    .clock-item {
        margin: 0px 15px 15px 15px;
    }
}
